h1{
    font-size: 60px;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: underline;
}

h2{
    font-size:40px;
    text-align: center;
    border: solid;
    border-width: 10px;
}

h3{
    font-size: 20px;
    text-align: center;
}

p{
    background-color: green;
    color: white;
}